* {
    padding: 0px;
    margin: auto;
    box-sizing: content-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    text-decoration: none;
    font-size: 13px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 200;
}